<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Poker Hand</title>
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous" />

        <style>
            body {
                background-color: #0c802f;
            }

            .left-img {
                display: block;
                margin-top: 20px;
                width: 50%;
                max-width: 100%;
            }
            */ .form-label,
            .ms-2 {
                color: #ffc107;
            }
        </style>
    </head>

    <body class="container pt-3">
        <div class="d-flex justify-content-center align-items-center">
            <div class="d-flex align-items-center">
                <img
                    style="height: 100px; width: 100px; margin-bottom: 20px"
                    src="{{ url_for('static', filename='logo.png') }}" />

                <h1 class="ms-2">Poker Hand</h1>
            </div>
        </div>

        <div class="w-100 d-flex">
            <div class="w-50">
                <img
                    src="{{ url_for('static', filename='banner.png') }}"
                    class="left_img" />
            </div>

            <form id="form" class="w-50">
                <div class="mb-3">
                    <label for="input-1" class="form-label fw-bold"
                        >Quân 1</label
                    >
                    <div class="d-flex gap-4">
                        <div class="w-50">
                            <input
                                name="suilt"
                                type="number"
                                class="form-control w-100"
                                id="input-1"
                                placeholder="Nhập chất bài" />

                            <span class="text-warning w-100 span_error"> </span>
                        </div>

                        <div class="w-50">
                            <input
                                name="card"
                                type="number"
                                class="form-control w-100"
                                placeholder="Nhập quân bài" />

                            <span class="text-warning w-100 span_error"> </span>
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="input-2" class="form-label fw-bold"
                        >Quân 2</label
                    >
                    <div class="d-flex gap-4">
                        <div class="w-50">
                            <input
                                name="suilt"
                                type="number"
                                class="form-control w-100"
                                id="input-2"
                                placeholder="Nhập chất bài" />

                            <span class="text-warning w-100 span_error"> </span>
                        </div>

                        <div class="w-50">
                            <input
                                name="card"
                                type="number"
                                class="form-control w-100"
                                placeholder="Nhập quân bài" />

                            <span class="text-warning w-100 span_error"> </span>
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="input-3" class="form-label fw-bold"
                        >Quân 3</label
                    >
                    <div class="d-flex gap-4">
                        <div class="w-50">
                            <input
                                name="suilt"
                                type="number"
                                class="form-control w-100"
                                id="input-3"
                                placeholder="Nhập chất bài" />

                            <span class="text-warning w-100 span_error"> </span>
                        </div>

                        <div class="w-50">
                            <input
                                name="card"
                                type="number"
                                class="form-control w-100"
                                placeholder="Nhập quân bài" />

                            <span class="text-warning w-100 span_error"> </span>
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="input-4" class="form-label fw-bold"
                        >Quân 4</label
                    >
                    <div class="d-flex gap-4">
                        <div class="w-50">
                            <input
                                name="suilt"
                                type="number"
                                class="form-control w-100"
                                id="input-4"
                                placeholder="Nhập chất bài" />

                            <span class="text-warning w-100 span_error"> </span>
                        </div>
                        <div class="w-50">
                            <input
                                name="card"
                                type="number"
                                class="form-control w-100"
                                placeholder="Nhập quân bài" />

                            <span class="text-warning w-100 span_error"> </span>
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="input-5" class="form-label fw-bold"
                        >Quân 5</label
                    >
                    <div class="d-flex gap-4">
                        <div class="w-50">
                            <input
                                name="suilt"
                                type="number"
                                class="form-control w-100"
                                id="input-5"
                                placeholder="Nhập chất bài" />

                            <span class="text-warning w-100 span_error"> </span>
                        </div>
                        <div class="w-50">
                            <input
                                name="card"
                                type="number"
                                class="form-control w-100"
                                placeholder="Nhập quân bài" />

                            <span class="text-warning w-100 span_error"></span>
                        </div>
                    </div>
                </div>

                <button class="btn btn-warning" type="submit">Dự Đoán</button>
            </form>
        </div>

        <div id="modal" class="modal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Kết Quả Dự Đoán</h5>
                        <button
                            type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p></p>
                    </div>
                    <div class="modal-footer">
                        <button
                            type="button"
                            class="btn btn-primary"
                            data-bs-dismiss="modal">
                            Xác nhận
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <script>
            const form = document.querySelector("#form");
            form.addEventListener("submit", function (e) {
                e.preventDefault();
                let isValidData = true;
                const inputs = [...form.querySelectorAll("input[name]")];
                const data = inputs.map((input) => {
                    if (input.value !== "") {
                        return input.value;
                    }
                    isValidData = false;
                    input.parentNode.querySelector(".span_error").innerText =
                        "Vui lòng nhập trường này";

                    console.log(input.parentNode.querySelector(".span_error"));
                });
                if (isValidData) {
                    fetch("/forecast/", {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json",
                        },
                        body: JSON.stringify(data),
                    })
                        .then((response) => {
                            return response.json();
                        })
                        .then((data) => {
                            document.querySelector(
                                ".modal-body p"
                            ).textContent = data;
                            var myModal = new bootstrap.Modal(
                                document.querySelector(".modal")
                            );
                            myModal.show();
                        })
                        .catch((error) => console.log("Error:", error));
                } else {
                    alert("Vui lòng nhập đầy đủ dữ liệu");
                }
            });
        </script>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
    </body>
</html>
